<div id="<%= dom_id experience %>" class="w-full sm:w-auto my-5">
  <div class="flex gap-2 items-center">
    <div class="font-bold text-xl">
      <%= experience.title %>
    </div>
    <div>
      <%= experience.organization %>
    </div>
    <div>
      <%= experience.location %>
    </div>
  </div>
  <div class="">
    <div>
      <%= experience.description %>
    </div>
  </div>
  <div class="flex gap-2">
    <div>
      <%= experience.start_date %>
    </div>
    -
    <div>
      <%= experience.end_date %>
    </div>
  </div>
</div>
